<%= form_for(@to2do) do |f| %>
  <% if @to2do.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@to2do.errors.count, "error") %> prohibited this to2do from being saved:</h2>

      <ul>
      <% @to2do.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
